@use './variables' as *;
@use './background';
@use './forms';

@font-face {
  font-family: norse-bold;
  src: url(../resources/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: $mainBackground;
  color: white;
  font-size: 1.5rem;
}

.container {
  display: flex;
  gap: 2rem;
  width: 80vw;
}
